@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Passion One', cursive;
    --fonte-conteudo: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-padrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte-titulo);
    font-size: 10vw;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header > p > a, footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header > p > a:hover, footer > p > a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte-conteudo);
    font-size: 3.6vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;

}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: white;
    background-size: cover;
    background-position: center, center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.250);
    text-shadow: 2px 2px 0.5px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}